<!DOCTYPE html>
<html ng-app="myApp">
<script src="angular.min.js"></script>
<script>
var app = angular.module('myApp', []);
app.controller('loginctrl', function($scope,$rootScope) {
$scope.login=true;
 $rootScope.home = false;
     $scope.userName='';
     $scope.pwd='';
$scope.toggle=function(){
   if($scope.userName=="priya" && $scope.pwd=="priya23"){
alert($rootScope.home);
    $rootScope.home=true;
    $scope.login=false;
  }
else{
alert("Invalid Username or Password");
} }
});
app.controller('welctrl',function($scope){
});
</script>

<body background="online-registration-2 (1).jpg">

<div  ng-controller="loginctrl" ng-show="login">
User Name: <input type="text" ng-model="userName"><br>
Password: <input type="password" ng-model="pwd"><br>
<br>
<button ng-click="toggle()">submit</button>
</div>


<div ng-controller="welctrl" ng-show="home">

<p>
<h2>Welcome to home page<h2>
</p>
</div>



</body>
</html>
